@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url(../img/bg.png) center bottom/cover;
    z-index: -2;
 
}


